# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.installed.cfg
*.egg

# Environment files
.env
*.env

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db
